body {
    background-color: dimgray;
    color: white;
}
h1, h3 {
    color: dodgerblue;
}
a {
    color: red;
}

p {
    font-family: "Leelawadee UI";
}

.com {
    font-style: italic;
}

.ye {
    color: yellow;
}
