body{
    background-color: #CCCCFF;
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
}

h1 {
    font-size: 32pt;
    font-weight: bold;
    text-align: center;
}

textarea {
    width: 90%;
    height: 400px;
    font-size: 12pt;
    font-weight: bold;
}

fieldset {
    border: 5px solid black;
    text-align: center;
    width: auto;
}
button, select {
    font-size: 14pt;
    font-weight: bold;
}

.fieldDiv {
    display: flex;
    justify-content: center;
}